@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />

</head>
<body>
    <section id="hero" class="text-white tm-font-big tm-parallax">

        <div class="text-center tm-hero-text-container">
            <div class="tm-hero-text-container-inner">
                <h2 class="tm-hero-title">Leave Management</h2>
                <p class="tm-hero-subtitle">
                    When you got to go,
                    <br />you got to go!
                </p>
            </div>
        </div>
</body>
</html>
